@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  background-color: #f0ebe1;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.no-select {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
.fix-Image {
  -webkit-backface-visibility: hidden;
  -ms-transform: translateZ(0); /* IE 9 */
  -webkit-transform: translateZ(0); /* Chrome, Safari, Opera */
  transform: translateZ(0);
}
.custom-dark-overly {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #262522 100%);
}
.no-scroll {
  overflow: hidden;
  height: 100vh;
}
